.woocommerce{
	a.remove{
		display: inline-block;
		width: auto;
		height: auto;
		line-height: 1.5;
		color: #FFF !important;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		&:hover{
			background: #7971ea;
			border-color: #7971ea;
		}
	}
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3{
	font-size: 1.3rem;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img{
	width: 120px;
}

//Woocommerce fix
.woocommerce .col-1, .col-2{
	max-width:none;
}

.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
display: block;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
max-width: unset;
}

.woocommerce form{
	.form-row{
		margin-bottom: 15px;
	}
}

.price_slider{ 
    margin-bottom: 1em;
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}

.price_slider_amount .button {
    font-size:1.15em;
}

.price_slider_amount .button {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
    &.ui-widget-content{
    	border: 1px solid #7971EA !important;
    }
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.15em;
    height: 1.15em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    background: #7971EA;
    outline: none;
    top: -.35em;
    border: none !important;
    -webkit-border-radius: 30px;
            border-radius: 30px;
}

.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #7971EA;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #fff;
}

.ui-slider-horizontal {
    height:.5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	background: $primary;
	color: #fff;
	font-size: 17px;
    font-weight: 400 !important;
    letter-spacing: normal;
    border-color: $primary;
    padding: .75em 1em;
	&:hover{
		background: #4f45e3;
		color: #fff;
		border-color: #4f45e3;
	}
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background: #7971ea;
	color: #fff;
	font-size: 17px;
    font-weight: 400;
    letter-spacing: normal;
    border-color: #7971ea;
    padding: .75em 1em;
	&:hover{
		background: #4f45e3;
		color: #fff;
		border-color: #4f45e3;
	}
}

.site-navbar .site-logo a{
	border: none;
}

ul.list-group{
	li.list-group-item.is-active{
		background: #7971ea;
		a{
			color: #fff;
		}
	}
	a{
		display: block;
	}
	li.list-group-item:hover{
		background: #D0CFFF;
	}
}



@media screen and (max-width: 600px) {
    /* Force table to not be like tables anymore */
    .woocommerce-page table.shop_table, 
    .woocommerce-page table.shop_table thead, 
    .woocommerce-page table.shop_table tbody, 
    .woocommerce-page table.shop_table th, 
    .woocommerce-page table.shop_table td, 
    .woocommerce-page table.shop_table tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .woocommerce-page table.shop_table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    
    .woocommerce-page table.shop_table td { 
        /* Behave  like a "row" */
        border: 1px solid #d2d3d3; 
        position: relative;
        padding-left: 30% !important; 
    }
    
    .woocommerce-page table.shop_table {
        border: none;
    }
    
    .woocommerce-page table.shop_table td.product-spacer {
        border-color: #FFF;
        height: 10px;
    }
    
    .woocommerce-page table.shop_table td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    .woocommerce-page table.shop_table td.product-remove:before {
        content: "DELETE";
    }
    
    .woocommerce-page table.shop_table td.product-thumbnail:before {
        content: "IMAGE";
    }
    
    .woocommerce-page table.shop_table td.product-name:before {
        content: "PRODUCT";
    }
    
    .woocommerce-page table.shop_table td.product-price:before {
        content: "PRICE";
    }
    
    .woocommerce-page table.shop_table td.product-quantity:before {
        content: "QUANTITY";
    }
    
    .woocommerce-page table.shop_table td.product-subtotal:before {
        content: "SUBTOTAL";
    }
    
    .woocommerce-page table.shop_table td.product-total:before {
        content: "TOTAL";
    }
    
    .woocommerce .quantity, 
    .woocommerce #content .quantity, 
    .woocommerce-page .quantity, 
    .woocommerce-page #content .quantity {
        margin: 0;
    }
    
    .woocommerce-page table.cart td.actions, 
    .woocommerce-page #content table.cart td.actions {
        text-align: left;
        border:0;
        padding-left: 6px !important;
    }
    
    .woocommerce-page table.cart td.actions .button.alt, 
    .woocommerce-page #content table.cart td.actions .button.alt {
        float: left;
        margin-top: 10px;
    }
    
    .woocommerce-page table.cart td.actions div, 
    .woocommerce-page #content table.cart td.actions div,
    .woocommerce-page table.cart td.actions input, 
    .woocommerce-page #content table.cart td.actions input {
        margin-bottom: 10px;
    }
    
    .woocommerce-page .cart-collaterals .cart_totals {
        float: left;
        width: 100%;
        text-align: left;
    }
    
    .woocommerce-page .cart-collaterals .cart_totals th, 
    .woocommerce-page .cart-collaterals .cart_totals td {
        border:0 !important;
    }
    
    .woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
    .woocommerce-page .cart-collaterals .cart_totals table tr.total td {
        padding-left: 6px !important;
    }
    
    .woocommerce-page table.shop_table tr.cart-subtotal td,
    .woocommerce-page table.shop_table tr.shipping td,
    .woocommerce-page table.shop_table tr.total td,
    .woocommerce-page table.shop_table.order_details tfoot th,
    .woocommerce-page table.shop_table.order_details tfoot td {
        padding-left: 6px !important;
        border:0 !important;
    }
    
    .woocommerce-page table.shop_table tbody {
        padding-top: 10px;
    }
    
    .woocommerce .col2-set .col-1, 
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, 
    .woocommerce-page .col2-set .col-2,
    .woocommerce form .form-row-first, 
    .woocommerce form .form-row-last, 
    .woocommerce-page form .form-row-first, 
    .woocommerce-page form .form-row-last {
        float: none;
        width: 100%;
    }
    
    .woocommerce .order_details ul, 
    .woocommerce-page .order_details ul,
    .woocommerce .order_details, 
    .woocommerce-page .order_details {
        padding:0;
    }
    
    .woocommerce .order_details li, 
    .woocommerce-page .order_details li {
        clear: left;
        margin-bottom: 10px;
        border:0;
    }
    
    }