/* -------------------------------
		0.1.-VARIABLES
-------------------------------- */


/* ----------- Fonts ------------- */

$primary-font: 'Chivo';

$secondary-font: 'Open-sans';

$light: 300;

$regular: 400;

$medium: 500;

$semi-bold: 600;

$bold: 700;

$black: 900;

/* ----------- Main Colors ------------- */

$white: #FFF;

$black: #000;

$primary-color: #49a4ff;

$secondary-color: #074375;

$salmon: #ff566b;

$red: #ed1a37;

$yellow: #fedb00;

$light-grey: #f4f4f4;

$grey: #6a6a6a;

$semi-grey: #4d4d4d;

$dark-grey: #3c4144;

$btn-hover: #216bb5;